
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Ground</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="/static/dash_assets/vendors/feather/feather.css"">
        <link rel="stylesheet" href="/static/dash_assets/vendors/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" href="/static/dash_assets/vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="/static/dash_assets/css/vertical-layout-light/style.css">
        <!-- endinject -->
        <link rel="shortcut icon" href="/static/dash_assets/images/favicon.png">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  
    </head>

    <body>
        <div class="container-scroller" ID="guid_pass">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-center text-center error-page" style="background-color: gray;">
                    <div class="row flex-grow">
                        <div class="col-lg-9 mx-auto text-white">
                            <div>
                                <div class="text-center">
                                    <p style="font-size: 350px; font-weight: bold;">진행중</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
